@font-face {
  font-family: "iconfont"; /* Project id 3669791 */
  /* Color fonts */
  src: 
       url('/fonts/iconfont.woff2?t=1664016115968') format('woff2'),
       url('/fonts/iconfont.woff?t=1664016115968') format('woff'),
       url('/fonts/iconfont.ttf?t=1664016115968') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-liebiao:before {
    content: "\ecae";
}

.icon-bilibili:before {
    content: "\e609";
}

.icon-shenfenzheng:before {
    content: "\e68c";
}

.icon-icon_app_map_:before {
    content: "\e7d7";
}

.icon-icon_erji:before {
    content: "\e61a";
}

.icon-youxiang:before {
    content: "\e6cc";
}

.icon-biaoqian:before {
    content: "\e615";
}

.icon-youxi:before {
    content: "\e6ca";
}

.icon-gongchengyuguidang:before {
    content: "\e603";
}

.icon-shejiaotubiao-02:before {
    content: "\e641";
}

.icon-xianxingshuxie:before {
    content: "\e6cb";
}

.icon-fenlei:before {
    content: "\fda1";
}

.icon-liuyan:before {
    content: "\e619";
}

.icon-xiangce:before {
    content: "\ffc4";
}

.icon-lianjie:before {
    content: "\e655";
}

.icon-sousuo:before {
    content: "\e743";
}

.icon-shouye:before {
    content: "\e62e";
}

.icon-weixin:before {
    content: "\e637";
}

.icon-QQ:before {
    content: "\e667";
}

.icon-Rss:before {
    content: "\e67a";
}

.icon-github:before {
    content: "\e722";
}